{{set . "title" "Challenges"}}
{{template "header.html" .}}
<div class="row">
    <div class="col-md-8">
        <h1>Challenges</h1>
    </div>
    <div class="col-md-4">
        <a href="/challenges/new" class="btn btn-default btn-lg">Start a challenge</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organiser</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .challenges }}
        <tr>
            <td><a href="/challenges/{{.ID}}">{{.Name}}</a></td>
            <td>{{.Organiser.FirstName}} {{.Organiser.LastName}}</td>
            <td>{{.StartDate.Format "02/01/2006"}}</td>
            <td>{{.EndDate.Format "02/01/2006"}}</td>
            <td><form action="/challenges/{{.ID}}/enter" method="POST">
                <button type="submit" class="btn btn-default btn-sm">Enter</button>
            </form></td>
            <td>
                <a href="/challenges/{{.ID}}">View</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

{{template "footer.html" .}}
