{{set . "title" "Create a new challenge"}}
{{template "header.html" .}}


<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h1>New Challenge</h1>


        <form method="post" action="/challenges"  class="form-horizontal">
            {{with $field := field "challenge.Name" .}}
        		<div class="form-group">
        			<label for="{{$field.Id}}" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
            			<input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control {{$field.ErrorClass}}"/>
            			<span class="error">{{$field.Error}}</span>
                    </div>
        		</div>
            {{end}}
            {{with $field := field "challenge.SegmentID" .}}
        		<div class="form-group">
        			<label for="{{$field.Id}}" class="col-sm-2 control-label">Segment ID:</label>
                    <div class="col-sm-10">
            			<input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control {{$field.ErrorClass}}"/>
                        <span id="helpBlock2" class="help-block">You need to find the ID of the segment from the URL of the segment, eg: https://www.strava.com/segments/<strong>3974725</strong> </span>
            			<span class="error">{{$field.Error}}</span>
                    </div>
        		</div>
            {{end}}
            {{with $field := field "challenge.StartDate" .}}
        		<div class="form-group">
        			<label for="{{$field.Id}}" class="col-sm-2 control-label">Start Date:</label>
                    <div class="col-sm-10">
            			<input type="date" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control {{$field.ErrorClass}}"/>
            			<span class="error">{{$field.Error}}</span>
                    </div>
        		</div>
            {{end}}
            {{with $field := field "challenge.EndDate" .}}
        		<div class="form-group">
        			<label for="{{$field.Id}}" class="col-sm-2 control-label">End Date:</label>
                    <div class="col-sm-10">
            			<input type="date" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control {{$field.ErrorClass}}"/>
            			<span class="error">{{$field.Error}}</span>
                    </div>
        		</div>
            {{end}}
            {{with $field := field "challenge.ActivityType" .}}
                <div class="form-group">
                    <label for="{{$field.Id}}" class="col-sm-2 control-label">Activity Type:</label>
                    <div class="col-sm-10">
                        <select name="{{$field.Name}}" id="{{$field.Id}}" class="form-control">
                            {{option $field "Ride" "Bike"}}
                            {{option $field "VirtualRide" "Virtual Ride"}}
                            {{option $field "Run" "Run"}}
                        </select>
                        <span class="error">{{$field.Error}}</span>
                    </div>
                </div>
            {{end}}

            {{with $field := field "challenge.IsPublic" .}}
                <div class="form-group">
                    <label for="{{$field.Id}}" class="col-sm-2 control-label">Public Event?</label>
                    <div class="col-sm-10">
                        <select name="{{$field.Name}}" id="{{$field.Id}}" class="form-control">
                            {{option $field "1" "Public"}}
                            {{option $field "0" "Private"}}
                        </select>
                        <span class="error">{{$field.Error}}</span>
                    </div>
                </div>
            {{end}}

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Create Challenge</button>
                </div>
              </div>
        </form>
    </div>
</div>


{{template "footer.html" .}}
