{{set . "title" "Home" }}
{{template "header.html" .}}



<div class="row">
    <div class="col-md-8">
        <h1>{{.challenge.Name}}</h1>
        <div class="row">
            <div class="col-md-12">
                <h6>{{if not_empty .SegmentStats.City}}{{.SegmentStats.City}},{{end}}
                    {{if not_empty .SegmentStats.State}}{{.SegmentStats.State}},{{end}}
                    {{if not_empty .SegmentStats.Country}}{{.SegmentStats.Country}}{{end}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="challenge-dates">{{.challenge.StartDate.Format "02/01/2006"}} - {{.challenge.EndDate.Format "02/01/2006"}}</span>
            </div>
            <div class="col-md-4">
                <span class="label label-success">Open for entries</span>
                <span class="label label-default">{{.challenge.ActivityType}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">

            {{if .isOrganiser }}
            <div class="col-md-3">
                <a href="/challenges/{{.challenge.ID}}/edit" class="btn btn-default">Update</a>
            </div>
            <div class="col-md-3">
                <form action="/challenges/{{.challenge.ID}}/enter" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            {{end}}
            <div class="col-md-3">
                {{if not .hasEntered }}
                <form action="/challenges/{{.challenge.ID}}/enter" method="POST">
                    <button type="submit" class="btn btn-success">Enter</button>
                </form>
                {{else}}
                <form action="/challenges/{{.challenge.ID}}/leave" method="POST">
                    <button type="submit" class="btn btn-danger">Leave</button>
                </form>
                {{end}}
            </div>
        </div>



    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="stats">
          <ul>
            <li>{{.SegmentStats.Distance }}m<span>Distance</span></li>
            <li>{{.SegmentStats.AverageGrade }}%<span>Avg Grade</span></li>
            <li>{{.SegmentStats.ElevationLow}}m<span>Lowest Elev</span></li>
            <li>{{.SegmentStats.ElevationHigh}}m<span>Highest Elev</span></li>
            <li>{{.SegmentStats.TotalElevationGain}}m<span>Elev Difference</span></li>
            <li>{{len .leaderboard}}<span>Participants</span></li>
          </ul>
        </div>

        <div id='map'></div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
      <h3 class="panel-title">Leaderboard</h3>
  </div>

  {{ if len .leaderboard }}
  <div class="panel-body">
    <p>Showing the current top 10</p>
  </div>
  <table class="table">
      <thead>
          <tr>
              <th>#</th>
              <th>Athlete</th>
              <th>Time</th>
          </tr>
      </thead>
      <tbody>
      {{range .leaderboard}}
      <tr>
          <td>{{.Rank}}</td>
          <td>{{.Athlete.FirstName}} {{.Athlete.LastName}}</td>
          <td>{{if eq .Time "0"}}<em>No Attempts</em>{{else}}{{.Time}}{{end}}</td>
      </tr>
      {{end}}
      </tbody>
  </table>
  {{ else }}
  <div class="panel-body">
    <p>No entries yet, so sad :(</p>
  </div>
  {{ end }}
</div>

    </div>
</div>








<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<style>
#map { width: 100%; height: 450px; }
</style>
<script>
    // Provide your access token
    L.mapbox.accessToken = 'pk.eyJ1IjoiYXNoc21pdGgiLCJhIjoiY2lleDdqYW9iMDAxc3U3bTQ1YzV3N3I5ayJ9.GMieEwLNTN1IqcuNHJkGbQ';
    // Create a map in the div #map
    var positions = [];
    var map = L.mapbox.map('map', 'mapbox.streets')
            .setView([0,0], 10);

    positions = {{.SegmentRoute}};

    var start = positions[0];
    var finish = positions[positions.length - 1];

    function addMarker(coordinates, title, description, color, symbol) {
        L.mapbox.featureLayer({
            // this feature is in the GeoJSON format: see geojson.org
            // for the full specification
            type: 'Feature',
            geometry: {
                type: 'Point',
                // coordinates here are in longitude, latitude order because
                // x, y is the standard for GeoJSON and many formats
                coordinates: [coordinates[1], coordinates[0]]
            },
            properties: {
                title: title,
                description: description,
                // one can customize markers by adding simplestyle properties
                // https://www.mapbox.com/guides/an-open-platform/#simplestyle
                'marker-size': 'small',
                'marker-color': color,
                'marker-symbol': symbol
            }
        }).addTo(map);

    }

    addMarker(start, 'Start', 'Challenge Start', '#5CB85C', 'circle');
    addMarker(finish, 'Finish', 'Challenge Finish', '#D9534F', 'circle');

    var polyline_options = {
        color: '#000'
    };

    var polyline = L.polyline(positions, polyline_options).addTo(map);
    map.fitBounds(polyline.getBounds());
</script>
{{template "footer.html" .}}
