{{set . "title" "Your Dashboard"}}
{{template "header.html" .}}


    <h2>Your Dashboard</h2>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Challenges Entered</h3>
            </div>
            {{if len .challengesEntered}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Dates</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {{range .challengesEntered}}
                <tbody>
                    <tr>
                        <td><a href="/challenges/{{.ID}}">{{.Name}}</a></td>
                        <td>{{date .StartDate}} - {{date .EndDate}}</td>
                        <td>
                            <form action="/challenges/{{.ID}}/leave" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm">Leave</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {{end}}
            </table>
            {{else}}
            <div class="panel-body">
                <p>You are not in any challenges at the moment! <a href="/challenges">Why not find one?</a> or <a href="/challenges/new">start one</a></p>
            </div>
            {{end}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Organised Challenges</h3>
            </div>
            {{if len .organisedChallenges}}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Dates</th>
                    <th>Actions</th>
                </tr>
                {{range .organisedChallenges}}
                <tr>
                    <td><a href="/challenges/{{.ID}}">{{.Name}}</a></td>
                    <td>{{date .StartDate}} - {{date .EndDate}}</td>
                    <td><a href="/challenges/{{.ID}}/edit">Edit</a></td>
                </tr>
                {{end}}
            </table>
            {{else}}
            <div class="panel-body">
                <p>You haven't organised a challenge, why not <a href="/challenges/new">start now</a></p>
            </div>
            {{end}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trophy Case</h3>
            </div>
            <div class="panel-body">
                <p>Coming Soon</p>
            </div>
        </div>
    </div>


</div>






{{template "footer.html" .}}
