// This partial defines the global header
// ----------------------------------------

.header-container {
    background-color: $primary-color;
    margin-bottom: 1em;

    .logo {
        background: url('../images/logo.svg') no-repeat;
        background-position: 0;
        background-size: 100%;
        overflow: hidden;
        text-align: left;
        text-indent: -999em;
        margin: 0 1em 0 0;
        padding: 0;
        width: 178px;
        height: 82px;
    }
}

.header-navigation {
    .navigation {
        margin: 0;
        padding: 0;
        float: left;
    }

    .navigation-account {
        float: right;
    }

    li {
        list-style: none;
        float: left;
    }

    .navigation-link {
        display: block;
        padding: 29px 15px;
            border-top: 2px solid #29305D;
        color: #FFF;
        font-family: "Helvetica Neue", helvetica, sans-serif;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            border-top: 2px solid #FFF;
        }
    }
}
