// Home page specific styles only
// ------------------------------------


// Strava oAuth image
.strava-oauth-link {
    display: inline-block;
    width: 172px;
    height: 31px;
    @include background-image-retina('../images/ConnectWithStrava', 'png', 172px, 31px);
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}
