{{set . "title" "Strava Challenges - Challenge your friends, challenge yourself"}}
{{template "header.html" .}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
          <h1>Challenge your friends</h1>
          <p>Create challenges, and challenge your friends over your favourite Strava segments!</p>
          <p>Get started by connecting with Strava</p>
          <p><a href="{{.authURL }}" class="strava-oauth-link">Connect with Strava</a></p>
        </div>
    </div>
</div>


{{template "footer.html" .}}
