{{if .flash.success}}
<div class="alert flash-success">
	{{.flash.success}}
</div>
{{end}}

{{if or .errors .flash.error}}
<div class="alert flash-error">
	{{if .flash.error}}
		{{.flash.error}}
	{{end}}
	{{if len .errors}}
	<ul>
		{{range .errors}}
			<li>{{.}}</li>
		{{end}}
	</ul>
	{{end}}
</div>
{{end}}
