    </div>
    <div class="footer-container">
        <p>&copy; <a href="https://www.ashsmith.io/">Ash Smith</a></p>
    </div>

    </div>
     </body>

     {{range .moreScripts}}
       <script src="{{.StaticURL}}/{{.}}" type="text/javascript" charset="utf-8"></script>
     {{end}}
</html>
