<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{.StaticURL}}/css/application.css">
    <link rel="shortcut icon" type="image/png" href="{{.StaticURL}}/img/favicon.png">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="{{.StaticURL}}/public/{{.}}">
    {{end}}
</head>
<body>


    <div class="header-container row">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1 class="logo">Strava Custom Challenges</h1>
                </div>
                <div class="col-md-10">
                {{ if .IsLoggedIn }}
                    <nav class="header-navigation">
                        <ul class="navigation navigation-main">
                            <li><a href="/dashboard" class="navigation-link">Dashboard</a></li>
                            <li><a href="/challenges" class="navigation-link">Challenges</a></li>
                            <li><a href="/segments/explore" class="navigation-link">Segment Explorer</a></li>
                        </ul>
                        <ul class="navigation navigation-account">
                            <li><a href="/session/destroy" class="navigation-link">Logout</a></li>
                        </ul>
                    </nav>
                {{ end }}
                </div>
            </div>
        </div>
    </div>

    <div class="content-container container">
        {{template "flash.html" .}}
